# V-71945 - If three unsuccessful logon attempts within 15 minutes occur the associated account must be locked.
auth required pam_faillock.so preauth silent audit deny="{{ auth_security_pam_faillock_attempts }}" "{{ auth_security_pam_faillock_deny_root | bool | ternary('even_deny_root','') }}" fail_interval="{{ auth_security_pam_faillock_interval }}" unlock_time="{{ auth_security_pam_faillock_unlock_time }}"
auth [default=die] pam_faillock.so authfail audit deny="{{ auth_security_pam_faillock_attempts }}" "{{ auth_security_pam_faillock_deny_root | bool | ternary('even_deny_root','') }}" fail_interval="{{ auth_security_pam_faillock_interval }}" unlock_time="{{ auth_security_pam_faillock_unlock_time }}"
